body {
  background-color:#000;
  padding:50px;
  font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1 {
  color:#eee;
  margin:0 0 20px;
  text-shadow:2px 2px 4px #000;
  line-height:1.1;
  font-size:28px;
}

.fire {
  background:url("/assets/images/fire.jpg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

